body.body-content{
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size:cover;
	font-family: sans-serif;

}

.login {
	margin: 0;
	padding: 0;
	background-image: url("../img/loginPageCover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
}

.login-box {

	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);

}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login input{
	width: 100%;
	margin-bottom: 20px;
}

.login input[type="text"],input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;

}

/*.login button[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	width: 260px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}*/

.loginButton{
	width: 100%;
}

.loginButton button{
	border: none;
	outline: none;
	height: 40px;
	width: 80%;
	margin-left: 5%;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	margin-top: 5px;
}



header {
	background: #eee;
	overflow: auto;
}

header .appname{
	float: left;
}

header .loggedin{
	float: right;
}


.menu{
	text-align: center;
	background:rgb(85,16,16);
	
}

.menu ul{
	display: inline-flex;
	list-style: none;
	color: #fff;
}

.menu ul li{
	width: 120px;
	margin:15px;
	padding: 15px;
}


.menu ul li:hover{
	background-color:rgb(100,3,3);
	border-radius: 10px;
}

.menu .fa{
	margin-right: 8px;
}

.submenu{
	display: none;
}

.menu ul li:hover .submenu{
	display:block;
	position:absolute;
	margin-top:5px;
	margin-left:-15px;
	background-color:rgb(122,11,11);
}

.menu ul li:hover .submenu ul{
	display:block;
	margin:10px;
}

.menu ul li:hover .submenu ul li{
	width:150px;
	padding:3px;
	border-bottom:1px #fff;
	background:transparent;
	border-radius:10px;
	text-align:left;

}

.menu ul li:hover .submenu ul li:last-child{
	border-bottom: none;
}

.menu ul li:hover .submenu ul li a:hover{
	color:#b2ff00;
}





/*1------------------------------------------------------------------------------------*/

.title{
	border-radius: 10px 10px 0px 0px;
	background:#cd0a0a;
	width: 100%;
	height: 60px;
}

.radio-group{
    margin-left: 10%;
    margin-bottom: 2%;
}

.radio-group input{
    width:2%;
}

.lite{
	background-color: rgb(0,0,0,0.5);
	margin-top: 20px;
	margin-bottom: 20px;
}

.table-responsive{
	margin-top: 20px;
}

.form-error small{
	margin-bottom: 5px;
	margin-left: 25%;
	font-size: 16px;
	color: #cd0a0a;
}

.error{
	margin-left: 25%;
	color: red;
}

/* details page ------------------------------------------------------------------------------------------------------------------*/

.search{
	width: 50%;
	float: left;
}

.search input{
	margin-top: 20px;
	width: 60%;
	height: 40px;
	border-radius: 10px;
	margin-left: 17%;
	margin-right: 1%;
	text-align: center;
}

.add{
	width: 25%;
}

.edit{
	background-color: rgb(52, 58, 64);
	color: white;
	width: 80px;
	font-size: 16px;
	height: 40px;
	border-radius: 20px;
}

.delete{
	background-color: rgb(149, 7, 7 );
	color: white;
	margin-top: 15px;
	width: 80px;
	font-size: 16px;
	height: 40px;
	border-radius: 20px;
}

.margin{
	width: 50%;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

/* login--------------------------------------------------------------------------------------------------------------------------*/
html,body{
    height: 100%;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/

/*attendance ---------------------------------------------------------------------------------------------------------------*/


/*.attendance{

		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		table-layout: fixed;
		border-spacing: 5px;
		font-size: 20px;
		margin-top: 20px;
		font-family: monospace;
		margin-bottom: 100px;
	}

	td, th {
		border: 1px solid white;
		padding: 4px 8px;
		text-align-last: center;
	}

	th{
		background: rgb(204, 19, 19);
		color: white;
		height: 50px;
		padding: 10px 0px 10px 0px;
		font-family: arial, sans-serif;
		font-size: 20px;

		overflow: hidden; 
		text-overflow: ellipsis; 
		word-wrap: break-word;
	}

	tr:nth-child(even) {
		background-color: #aaaaaa
	}

	tr{
		height: 40px;
		color: black;
	}


	body {
		background-color: white;
	}

	td{
		color: black;
		font-weight:bolder;
		overflow: hidden; 
		text-overflow: ellipsis; 
		word-wrap: break-word;
		font-family: monospace;
		font-size:20px;
	}*/

/*show attendance table ----------------------------------------------------------*/
table {
		font-family: monospace;
		border-collapse: collapse;
		margin-top:20px;
		table-layout:fixed;
		margin-bottom: 30px;
		font-size: 20px;
}

#inform{
	margin-left: 10%;
	color:  #c92525;
}

/*------------------------------------------------------------------------------------*/	

.msg-flash{
	color: crimson;
}

#start_date{
	margin-left: 30%;
	width: 40%;
}

.searchDate{
	width: 100%;
}

.input-daterange input{
	margin-left: 30%;
	width: 40%;
}

.input-daterange button{
	width: 100px;
	margin-left: 10%;
	margin-top: 5px;
}


.dates{
	width: 100%;
}

.showAttendance div{
	display: inline-flex;
}

.showAttendance input{
	height: 40px;
	width: 500px;
	margin-left: 180px;
}

.showAttendance button{
	width: 100px;
	height: 40px;
	border-radius: 20px;
}

.form-control{
	width: 300px;
}

#datetimepicker{
	z-index: unset;
}

.group{
	margin-top: 30px;
}


/*search and edit employee-----------------------------------------------------------------------------------------------------------------------------------*/
form h1{                             
	
	font-size: 40px;
	text-align: center;
	margin-top: 20px;
}


h2{
	font-size: 15px;
	margin-left: 60px;
}



main{
	margin-top: 35px;
}

a{
	color: black;
}

h1.employee{
	margin-left: 114px;

}
input{
	font-size: 14px;
}

.language{
	margin-bottom:20px;
	margin-top: 20px;
	text-align: center;
}

.searching{	
	margin-top: 20px;
	background-color: #eee;
}

.search_e{
	margin-top: 20px;
	margin-bottom: 10px;
}

.search_e input{
	margin-left: 30%;
	width: 40%;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;

}

body {
  background-color: white;

}

.err{
	text-align: center;
	color: red;
	font-size: 20px;
}

.action a{
	margin-left: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.action input{
	margin-top: 20px;
	margin-right: 300px;
}

/*salary------------------------------------------------------------------------------------------------------------------------------------------------*/
.salary{
	margin-left: 22%;
	margin-top: 20px;
}

.salary input{
	height: 40px;
}


/*=================#############======================
			 							  CSS for HOME(Login) Page
							===================#############======================*/


html,
body {
	height: 100%;
}

/*=========================================
                HOME section
===========================================*/

#home {
	height: 100%;

}

#home-cover {
	height: 100%;
	background-image: url("../img/cover.jpg");
	background-color: red;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#home-content-box {
	width: 100%;
	height: 100%;
	display: table;
}

#home-content-box-inner {
	padding-top: 170px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.Item {
	padding: 20px 0 20px 0;
	margin: 0 0 70px 30px;
	cursor: pointer;
}

.Item-icon i {
	color: #ffffff;
	float: left;
	padding: 26px;
	margin-right: 25px;
	width: 75px;
	height: 75px;
	text-align: center;
}

.Item:hover .Item-icon i {
	color: rgb(85, 14, 12);

}

.Item-title {
	margin: 12px 0 0 0;

}


/*=========================================
                  BUTTONS
===========================================*/

.btn-1 {
	padding: 30px 35px 30px 35px;
}

.btn-2 {
	padding: 30px 20px 30px 20px;
}

.btn-3 {
	padding: 30px 27px 30px 27px;
}

.btn-4 {
	padding: 30px 70px 30px 70px;
}

.btn-5 {
	padding: 30px 40px 30px 40px;
}

.btn-6 {
	padding: 30px 20px 30px 20px;
}


.btn-7 {
	padding: 30px 20px 30px 20px;
}

.btn-8 {
	padding: 30px 30px 30px 30px;
}

.btn-9 {
	padding: 30px 70px 30px 70px;
}

.btn-10 {
	padding: 30px 40px 30px 40px;
}

.btn-11 {
	padding: 30px 22px 30px 22px;
}


/*===========================
            ANIMATE
=============================*/

.btn-logout {
	animation-delay: .2s;
}

#home-cover,
#home-heading,
#home-btn {
	animation-duration: 1s;
}

#home-cover {
	animation-delay: .1s;
}



/*=================#############=====================
			 							  	CSS for ABOUT Page
							===================#############====================*/


/*================================
            ABOUT section
==================================*/

#about .container {
	background-color: rgb(201, 0, 0);
	width: auto;
}

#about-bg-diagonal {
	width: 60%;
	height: 700px;
	float: right;
	background-image: url(../img/b.jpg);
	border-left: 200px solid rgb(201, 0, 0);
	border-top: 700px solid transparent;

}

#about-content-box {
	float: left;
	height: 700px;
	padding-left: 50px;
}

#about-content-box-outer {
	width: 100%;
	height: 100%;
	display: table;
}

#about-content-box-inner {
	display: table-cell;
	vertical-align: middle;

}

#about .title h3 {
	text-align: left;
	font-size: 45px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	letter-spacing: 2px;
	color: black;
	font-weight: 700;
	margin: 0 0 50px 0;
}

#about .content-title h3 {
	text-align: left;
	font-size: 30px;
	color: white;
	font-weight: 700;
	margin: 0 0 30px 0;
}

#about .content-title-underline {
	margin: 0 0 30px 0;
	width: 260px;
	height: 3px;
	background-color: yellow;

}

#about-des p {
	font-size: 18px;
	color: white;
	margin-bottom: 30px;
}

/*============================================
                OUR TEAM  section
==============================================*/

#team-content-box {
	padding: 30px 0 0 0;
	background-image: url(../img/cover.jpg);
}

#our-team .content-title h3 {
	font-size: 30px;
	color: white;
	font-weight: 700;
	text-align: center;
	margin: 30px 0 30px 0;
}

#our-team .content-title-underline {
	width: 30px;
	height: 3px;
	background-color: yellow;
	margin: 0 auto 30px auto;
}

.team-member {
	margin: 0 20px 0 20px;
}

.team-member-info {
	padding: 10px 0 30px 0;
}

h4.team-member-name {
	font-size: 21px;
	color: white;
	font-weight: 600;
	letter-spacing: 1px;
	padding-top: 20px;
}


							/*=================#############=====================
			 							  		Generic CSS
							===================#############====================*/


/*===========================
         NAVIGATION BAR
=============================*/

.navbar {
	padding: 20px 0;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.top-nav {
	background: rgb(255, 255, 255);
	background-image: url(../img/);
	padding: 15px 0;
}

.nav-wrapper {
	padding: 0;
}

.navbar-nav {
	float: right;
}

.navbar-nav>li>a {
	color: rgb(252, 0, 0);
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
	background-color: rgb(243, 24, 24);
	color: #ffffff;
}

.navbar-toggle {
	background-color: red;
	border: 1px solid #fff;
	border-radius: 0;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-collapse {
	max-height: none ! important;
}

.navbar-brand {
	padding: 7px 0 0 20px;

}

#message-button {
	cursor: pointer;
}


#message-button .fa-comment {
	font-size: 2.0rem;
}

#bell-button {
	cursor: pointer;
}


#bell-button .fa-bell {
	font-size: 2.0rem;
}



/*=========================================
                Generic BUTTONS
===========================================*/

.btn-logout {
	font-family: "Roboto Condensed", sans-serif;
	border-width: 2px;
	border-radius: 0px;
	font-size: 11px;
	font-weight: 500;
	border-color: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
}

.btn-logout:hover,
.btn-logout:focus {
	border-color: rgb(116, 11, 11);
	background-color: rgba(202, 47, 68, 0.2);
	color: rgb(224, 118, 69)
}

.btn-general {
	font-family: "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	border-width: 1px;
	border-radius: 0px;
	font-size: 18px;
	font-weight: 505;
	letter-spacing: .5px;
	border-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	background-color: rgba(201, 58, 53, 0.8);
}

.btn-general:hover,
.btn-general:focus {
	border-color: rgb(102, 14, 11);
	border-width: 1px;
	background-color: rgba(255, 255, 255);
	color: rgba(201, 58, 53);
}

/*=================================================
                Parallax Effect
===================================================*/

.bg-parallax {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}


/*=================================================
                MinorStaffDetails
===================================================*/

.Button{
	margin-top: 15px;
	float: right;
	margin-right: 10%;
	width: 80px;
    background-color: rgb(204, 19, 19);
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    line-height: 0.8;
    border-radius: 1px;
    letter-spacing: 0.5px;
	border:0px !important;
	cursor:pointer;
	border-radius:5px;
}

.search{
	width: 50%;
	float: left;
}

.search input{
	margin-top: 20px;
	width: 60%;
	height: 40px;
	border-radius: 10px;
	margin-left: 17%;
	margin-right: 1%;
	text-align: center;
}

.add{
	width: 25%;
}

.add button{
	margin-top: 20px;
	float: right;
	width: auto;
	height: 40px;
	border-radius: 10px;
	background-color: #0a5b66;
	font-size: 16px;
}

.edit{
	background-color: rgb(52, 58, 64);
	color: white;
	width: 80px;
	font-size: 16px;
	height: 40px;
	border-radius: 20px;
}

.delete{
	background-color: rgb(149, 7, 7 );
	color: white;
	margin-top: 15px;
	width: 80px;
	font-size: 16px;
	height: 40px;
	border-radius: 20px;
}

.margin{
	width: 50%;
}

.themeBtn {
	margin-top: 15px;
	margin-right: 30%;
	float: right;
    background-color: rgb(149, 7, 7 );
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    line-height: 0.8;
    padding: 18px 30px;
    border-radius: 1px;
    letter-spacing: 0.5px;
	border:0px !important;
	cursor:pointer;
	border-radius:100px;
	width: auto;


}

a>button:hover,
a>button:focus {
	background:rgb(167, 24, 24);
}


.attendance{

	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	border-spacing: 5px;
	font-size: 20px;
	margin-top: 20px;
	font-family: monospace;
	margin-bottom: 20px;
}

td, th {
	border: 1px solid white;
	padding: 4px 8px;
	text-align-last: center;
}

th{
	background: rgb(204, 19, 19);
	color: white;
	height: 50px;
	padding: 10px 0px 10px 0px;
	font-family: sans-serif;
	font-size: 20px;

	overflow: hidden; 
	text-overflow: ellipsis; 
	word-wrap: break-word;
}

tr:nth-child(even) {
	background-color: #aaaaaa
}

tr{
	height: 40px;
	color: black;
}


body {
	background-color: white;
}

td{
	color: black;
	font-weight:bolder;
	overflow: hidden; 
	text-overflow: ellipsis; 
	word-wrap: break-word;
	font-family: monospace;
	font-size:20px;
}

table {
	font-family: monospace;
	border-collapse: collapse;
	margin-top:20px;
	table-layout:fixed;
	margin-bottom: 30px;
	font-size: 20px;
}

/*=================================================
                AddEmployee
===================================================*/


/*.userform{
	font-weight: 500;
	margin-top: 20px;
	width: 1000px;
	margin-bottom: 20px;
	background-color:#EEEEEE;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.userform h1 {
	font-size: 40px;
	margin-top: 0px;
	color: white;
}

.userform p{
	margin-top: 20px;
	margin-left: 20px;
}

.userform label{
    width: 20%;
    height: auto;
    float: left;
	margin-bottom: 15px;
}

.userform input{
	width: 70%;
    margin: 5px;
	padding: 5px;
	border-radius: 5px;
}

.radio-group {
	margin-left: 10%;
	margin-bottom: 2%;
}

.radio-group input {
	width: 2%;
}

.userform h2{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10%;
}

.calenderfirst{
	width: 100%;
}

.calenderfirst label{
    width: auto;
	margin-left: 16%;
}

.calenderfirst select{
	float: left;
	margin-left: 15px;
	margin-top: 2px;;
	border-radius: 5px;
}

.job{
	display: inline-flex;
	margin-top: 5%;
	width: 100%;	
}

.job p{
	padding: 10px;
}

#reg select{
	margin-left: 10px;
}

#regJob{
	width:15%;
	margin-left:10%;
	color: red;
	font-weight: 600;
}

.job select{
	border-radius: 10px;
	height: 30px;
	margin-left:2%;
}

.job label{
    margin-left: 1.5%;
	width: 5%;
	text-align: center;
}

.jobtype label{
    color: red;
    font-weight: bold;
    margin-left: 10%;
}

.detailsSubmit{
	width: 100%;
}

.detailsSubmit button{
	height: 40px;
	background-color: rgb(204, 19, 19);
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	width: 20%;
    margin-left: 40%;
	border-radius: 20px;
	letter-spacing: 0.5px;
	cursor:pointer;
	border:0px !important;
}

.sign button {
	width: 20%;
	margin-left: 40%;
	margin-bottom: 20px;
	border-radius: 20px;
}

.error {
	margin-left: 25%;
	color: red;
}*/



										/*==================================================
													CSS for Add & Edit employee pages
										====================================================*/


@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";


.add-employee-body{
	background-image: url(../img/cover.jpg);
}

.edit-employee-body{
	background-image: url(../img/cover.jpg);
}


.content-form {
    float: left;
    padding: 1.875em;
    width: 100%
}

.content-form h2{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.col-lg-12{
	max-width: 50%;
	margin: 0 auto;
}

.card {
    margin-bottom: 1.875em;
    border-radius: 5px;
    padding: 0;
    border: 0 solid transparent;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .08);
    box-shadow: 0 0 20px rgba(0, 0, 0, .08)
}

.card .card-body {
    float: left;
    padding: 1.25em;
    position: relative;
    width: 100%
}

.card-header{
    background-color: rgb(201, 0, 0);
	color: white;
	text-align: center;
}

.card .card-header .card-actions button {
    display: block;
    float: left;
    width: 50px;
    padding: .75rem 0;
    margin: 0!important;
    color: rgb(199, 122, 122);
    outline: 0;
    text-align: center;
    background: 0 0;
    border: 0;
    border-left: 1px solid rgba(120, 130, 140, .4)
}

.card .card-header .card-actions {
    float: right;
}

.card .card-header .card-actions [class*=btn] {
    border-left: 1px solid rgba(120, 130, 140, .4);
    color: #878787;
    display: inline-block;
    font-size: 16px;
   
    padding: 0 7px;
    width: inherit;
    text-align: center
}

.card-body p button {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0
}

.card-body p button {
    padding: 0
}

    .content-form {
        padding: 1.25em
    }
   
    .card {
        margin-bottom: 1.25em
    }
    .card .card-header {
        position: relative
    }
    .card .card-header strong {
        display: block
    }
    .card .card-header small {
        float: left
    }
    .card .card-header .card-actions {
        right: 0;
        top: .75rem;
        position: absolute
    }
    .card i+h4 {
        display: inline;
        padding-top: 1em!important
    }
   

.radio-group{
    margin: 7px 0 7px 30px;
}
.radio_male{
    margin: 0 0 7px 0;
}
.radio_female{
    margin: 0 0 7px 0;
}
.radio_m{
    margin: 0 10px 0 0;
}
.radio_f{
    margin: 0 10px 0 0;
}

.form-label{
    margin-left: 30px;
}

.btn-info{
    background-color:rgb(201, 0, 0);
    border-width: 1px;
    border-color: white;
}

.btn-info:hover,.btn-info:focus{
    background-color:rgb(160, 0, 0);
    color: white;
    border-color: white;
}

.border-color{
    color: rgb(201, 0, 0);
}
.form-control{
	width: 100%;
}

/*=================================================
                EditEmployee
===================================================*/
.userform2{
	background: #fff;
	font-weight: 500;
	margin-top: 20px;
	width: 1000px;
	margin-bottom: 20px;
	background-color:#EEEEEE;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.userform2 h1 {
	font-size: 40px;
	margin-top: 0px;
	color: white;
}

.userform2 p{
	margin-top: 20px;
	margin-left: 20px;
}

.userform2 label{
    width: 20%;
    height: auto;
    float: left;
	margin-bottom: 15px;
}

.userform2 input{
	width: 70%;
    margin: 5px;
	padding: 5px;
	border-radius: 5px;
}

.userform2 h2{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10%;
}

.userform2 button{
	margin-bottom: 20px;
}

.form-group{
	padding: 5px 30px 0px 30px;
}

#hideField{
	display: none;
}

/*=================================================
                MarkAttendance
===================================================*/
.submit{
	width: 100%;
}

.submit button{
	height: 40px;
	background-color: rgb(204, 19, 19);
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	width: 20%;
    margin-left: 40%;
	border-radius: 20px;
	letter-spacing: 0.5px;
	cursor:pointer;
	border:0px !important;
	margin-bottom: 20px;
}

/*=================================================
                AttendanceDetails
===================================================*/
.userform3{
	margin-left: 15%;
	background: #fff;
	font-weight: 500;
	margin-top: 20px;
	width: 70%;
	margin-bottom: 20px;
	background-color:#EEEEEE;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.userform3 h1 {
	font-size: 40px;
	margin-top: 0px;
	color: white;
}

.userform3 p{
	margin-top: 20px;
	margin-left: 20px;
}

.userform3 label{
    width: 20%;
    height: auto;
    float: left;
	margin-bottom: 15px;
}

.userform3 input{
	width: 70%;
    margin: 5px;
	padding: 5px;
	border-radius: 5px;
}

.userform3 h2{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10%;
}

.userform3 button{
	margin-bottom: 20px;
}


				/*==============================================================================
   												CSS for Duty Arrangement
				================================================================================*/

.addDutyBar{
	width: 100%;
	height: 80px;
	display: inline-flex;
	background-image:url(../img/cover.jpg);
}

h5{
	padding: 16px 0px 20px 40px;
    text-align: left;
    font-size: 35px;
    letter-spacing: 6px;
    font-family: math;
    color: white;
}


.addDutyBtn {
	margin: 15px 15px 15px 0px;
	float: right;
    background-color: rgb(218, 15, 15);
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    line-height: 0.8;
    padding: 18px 30px;
    border-radius: 1px;
    letter-spacing: 0.5px;
	border:0px !important;
	cursor:pointer;
	border-radius:10px;
	letter-spacing: .75px;

}

.addDutyBtn:hover {
	background:rgb(139, 0, 0);
	color: #ffffff;
}

.ot-date{
	margin: 25px 2px 0px 2px;
}

.content-table{
	margin-top: 0px;
}

.pb-0 {
	padding:40px 20px 0px 20px;
}

.orders {
	overflow: hidden
}


.table-stats table {
    font-family: open sans
}

tr{
	background-color: #d1dad7;
}

.table-stats table td {
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ececec;
    font-size: 12px;
    font-weight: 400;
    padding: .75em 1.25em;
    text-transform: uppercase
}

.table-stats table th{
	border: none;
    border-bottom: 1px solid #e8e9ef;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: .75em 1.25em;
	text-transform: uppercase;
	letter-spacing: .75px;

}

.table-stats table th img,
.table-stats table td img {
    margin-right: 10px;
    max-width: 45px
}

.table-stats table th .name,
.table-stats table td .name {
    color: #343a40;
    font-size: 14px;
    text-transform: capitalize
}

.table-stats table td {
	color: #343a40;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    vertical-align: middle
}


.order-table {
    position: relative
}

.order-table:after,
.order-table:before {
    content: "";
    position: absolute;
    top: 0;
    height: 37px;
    width: 10px;
    background: #6b485e
}

.order-table:after {
    right: -1px
}

.order-table:before {
    left: -1px
}

.order-table tr th {
    background: #e4040f
}

.order-table tr td:last-child,
.order-table tr th:last-child {
    text-align: right
}

.order-table tr:last-child td {
    border: none
}

.order-table .badge {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400
}

.order-table .badge-complete {
    background: #00c292
}

.order-table .badge-pending {
    background: #fb9678
}


.ov-h {
    overflow: hidden
}

.leave_form_body{
	background-image: url(../img/cover.jpg);
}

/*.row{
	margin-right: 20px;
}*/

.t{
	background-color: #d1dad7;
}

